<!-- set data/config yaml file based on website language -->
{{/* {{ $config := cond (eq $.Site.Language.Lang "en") "config" (printf "config.%s" $.Site.Language.Lang) }}
{{ $data := index $.Site.Data $config }}

<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        {{ $name := $data.name | default $.Site.Data.config.name }}
        {{ $year := dateFormat "2006" now }}
        <p>{{ i18n "copyright" (dict "name" $name "year" $year) | safeHTML}}</p>
        <ul>
            {{ if not .IsHome }}
            <li><a href="{{ $.Site.BaseURL}}">{{ i18n "home" }}</a></li>
            {{end}}
            {{- range $data.links | default $.Site.Data.config.links -}}
            <li><a href="{{.link}}">{{.link_name}}</a></li>
            {{- end -}}
        </ul>
    </footer>
</div> */}}
<hr />

<!-- 以下为你需要配置的评论区，以下部分可以删除 -->
<!-- 引入 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js">
</script>
<!-- 解决issue的label长度不能超过五十的问题 -->
<script src="alittlejs/md5.min.js"></script>
<!-- 添加一个容器-->
<div id="gitalk-container"></div>

<!-- 生成 gitalk 插件-->
<script>
    var gitalk = new Gitalk({
        clientID: 'b3d1e82d398c36a4a587', //Client ID 自己配置

        clientSecret: '973b351e5ad4ff9ea6d93e7db3f431beef48dc2d', //Client Secret 自己配置

        repo: 'ObPublish',//仓库名称  自己配置
        owner: 'tianzhongs',//仓库拥有者  自己配置
        admin: ['Tianzhongs'],
        id: location.href,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
</script>

<!-- 次数统计 start -->
<style type="text/css">
    .box{
       font-family:"微软雅黑";            /*设置字体*/
       width:600px;                    /*设置元素宽度*/
       background:lightgreen;
       margin:50px auto;                /*设置外边距*/
       font-size: 36px;                /*设置文字大小*/
       color:blue;                    /*设置文字颜色*/
       overflow:hidden;                /*隐藏溢出部分内容*/
    }
    .marquee{
       position:relative;                /*设置相对定位*/
       -webkit-animation: marquee 5s linear infinite alternate;/*设置动画*/
    }
    @-webkit-keyframes marquee{        /*创建动画*/
        0%{ left:0px; }
        100%{ left:200px; }
    }
</style>
<center>
    <script>
    var caution = false
            function setCookie(name, value, expires, path, domain, secure) {
                var curCookie = name + "=" + escape(value) + ((expires) ? "; expires=" + expires.toGMTString() : "") + ((path) ? "; path=" + path : "") + ((domain) ? "; domain=" + domain : "") + ((secure) ? "; secure" : "")
                if (!caution || (name + "=" + escape(value)).length <= 4000)
                    document.cookie = curCookie
                else if (confirm("Cookie exceeds 4KB and will be cut!"))
                    document.cookie = curCookie
            }
            function getCookie(name) {
                var prefix = name + "="
                var cookieStartIndex = document.cookie.indexOf(prefix)
                if (cookieStartIndex == -1)
                    return null
                var cookieEndIndex = document.cookie.indexOf(";", cookieStartIndex + prefix.length)
                if (cookieEndIndex == -1)
                    cookieEndIndex = document.cookie.length
                return unescape(document.cookie.substring(cookieStartIndex + prefix.length,
                    cookieEndIndex))
            }
            function deleteCookie(name, path, domain) {
                if (getCookie(name)) {
                    document.cookie = name + "=" + ((path) ? "; path=" + path : "") + ((domain) ? "; domain=" + domain : "") + "; expires=Thu, 01-Jan-70 00:00:01 GMT"
                }
            }
            function fixDate(date) {
                var base = new Date(0)
                var skew = base.getTime()
                if (skew > 0)
                    date.setTime(date.getTime() - skew)
            }
            var now = new Date()
            fixDate(now)
            now.setTime(now.getTime() + 730 * 24 * 60 * 60 * 1000)
            var visits = getCookie("counter")
            if (!visits)
                visits = 1
            else
                visits = parseInt(visits) + 1
            setCookie("counter", visits, now)
            document.write("<font class='marquee' size=2>访问量👋：" +"<font size=2 color=rgba(97, 144, 232, 255)>"+ visits + "</font></font>")
            

        </script>
        </center>
    <!-- 次数统计 over -->
